:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    --primary: #6C4AB6;
    --secondary: #8D72E1;
    --accent: #8D9EFF;
    --tersary: #B9E0FF;
    --text-color: #2c3e50;

    --shade: #f2f2f2;
    --dark-shade: #ddd;
    --dark-page: #121212;
    --pencil: #b64a97;

    --success: #2ecc71;
    --error: #e74c3c;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    background: var(--shade);
    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.workspace {
    margin: 50px 200px;
}

.content-header {
    padding: 5px 15px 5px 15px;
}

.content-header p {
    padding: 5px 15px 5px 15px;
}

.content-section {
    padding: 5px 15px 5px 15px;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
}

.wrapper > div {
    margin: 20px;
}

@media screen and (max-width: 759px) {
    .workspace {
        margin: 50px 0 50px 80px;
    }

    .wrapper {
        flex-direction: column;
    }

    .wrapper > div {
        margin: 0;
    }
}

.tabular-data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.tabular-data td, .tabular-data th {
    border: 1px solid var(--primary);
    padding: 8px;
}

.tabular-data tr:nth-child(even) {
    background-color: var(--shade);
}

.tabular-data tr:hover {
    background-color: var(--dark-shade);
}

.tabular-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--secondary);
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

textarea.form-control {
    height: auto;
}



